<p>user works!</p>
<!-- <button (click)="getUsers()">get all users</button>  -->
<!-- <button (click)="route()"></button> -->
<!-- <tr *ngFor="let user of users">
   <td>{{user.Name1}}</td>    
   <td>{{user.UserCity}}</td> 
   <td>{{user.phon}}</td>  -->
    <!-- <td>{{user.Mail}}</td> 
   <input type="button" (click)="editUser(user)"/>
</tr>  -->


<!-- <h1 class="title">user</h1> -->


<!-- <div style="display: flex; justify-content: center;" class="container">
    <div>
    <button class="b" (click)="getalluser()">get all user</button>
    </div>
    <div style="margin-left: 10px;">
      <button class="b" (click)="adduser()">add user</button>
      </div>
      <div style="margin-left: 10px;">
        <button class="b" (click)="getalluser()">Delete user</button>
        </div>
      <!</div> -->
      <!-- <div style="margin-left: 750px;"> --> -->
   <!-- <tr *ngFor="let user of users">
   <td>{{user.Name1}}</td>    
   <td>{{user.UserCity}}</td> 
   <td>{{user.phon}}</td>  
    <td>{{user.Mail}}</td> 
   <input type="button" (click)="editUser(user)"/>
   </tr> -->

      <!-- <button (click)="uptade">update</button>
      <button (click)="Delete">Delete</button> -->
    <!-- </p>
    </div> -->
    <!-- <div *ngFor="let user of users">
      <input [type]="input.type" [placeholder]="input.placeholder">
    </div>
    <br/>
    <br/>
    <div class="add-form" style=" justify-content: center; margin-left: 500px;"  *ngIf="isAdd"  >
      <input type="button" (click)="editUser(user)"/> -->
    <!-- <input class="input-field" [(ngModel)]="babysiter.name"  placeholder="Name"/>
    <input  class="input-field" [(ngModel)]="babysiter.city" placeholder="City"/><br/>
    <input  class="input-field" [(ngModel)]="babysiter.phone" placeholder="phon"/>
    <input  class="input-field" [(ngModel)]="babysiter.street" placeholder="street"/><br/>
    <input  class="input-field" [(ngModel)]="babysiter.age" placeholder="age"/>
    <input  class="input-field" [(ngModel)]="babysiter.password" placeholder="password"/><br/>
    <input  class="input-field" [(ngModel)]="babysiter.email" placeholder="email"/>
    <input  class="input-field" [(ngModel)]="babysiter.NumHouse" placeholder="numhouse"/><br/> -->

    <!-- <input class="button" type="button" value="save" (click)="save()" /> -->
  <!-- </div> -->

 
  